@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #025450;
  --accent-color-soft: #80A9A7;
  --background-color: #EAF4F8;
  --base-white: #FFFFFF;
  --base-beige: #EBEADC;
  --button-color: #F9E54F;
  --main-grey: #4D4D4D;
  --light-grey: #CCDDDC;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
